@font-face {
font-family: 'Dancing Script', cursive;
src: url('Dancing Script.otf');
}
body{
	background:black;
	font-family: 'Dancing Script', cursive;
    color: black;
    font-family: Dancing Script;
    font-size: 16px;
}
figure img {
	box-shadow: 2px 2px 3px #02010a;
	/*border: 2px solid #02010a;*/
}
.contenedor {
	margin: 0 auto;
    width: 85%;
	display: flex;
	flex-flow: row wrap;
}
m{
	text-indent: 1cm;
	letter-spacing: 3px;
	letter-spacing: 2px;
	padding: 10px;
	color: white;
	text-shadow: 2px 2px 2px #02010a;
}
a {
	text-indent: 1cm;
	letter-spacing: 1px;
	color: white;
	padding: 10px;
	color: white;
}
.active{ 
	text-decoration: none;
}
.contenedor2 {
    width: 100%;
	display: flex;
	flex-flow: row wrap;
}
h2{
	text-decoration: underline black;
}
.contenedor div {
    box-sizing: border-box;
	min-width: 50px;
}
.contenedor3 {
	margin: 0;
    width: 100%;
	display: flex;
	flex-flow: row wrap;
}
.contenedor4 {
	margin: 0;
    width: 100%;
	display: flex;
	flex-flow: row wrap;
}
	 #imagen1{
 	 -webkit-filter:blur(10px);
 	 filter:blur(10px);
 }
 	 #imagen2{
 	 -webkit-filter:grayscale(100%);
 	 filter:grayscale(100%);
 }
  	 #imagen3{
 	 -webkit-filter:sepia(90%);
 	 filter:sepia(90%);
 }
  	 #imagen4{
 	 -webkit-filter:grayscale(100%);
 	 filter:grayscale(100%);
 }
  	 #imagen6{
 	 -webkit-filter:grayscale(100%);
 	 filter:grayscale(100%);
 }
.bloque1 {
    color: #ddd;
    background-color: #5b7989;
	min-height: 65px;
	width: 100%;
	border-radius:10px 10px 0 0;
}
.bloque2 {
	padding:10px;
    color: #333;
    background-color: #d5c75f;
	min-height: 200px;
	width: 33.3%;
	text-align: center;
}
.bloque3 {
	padding:10px;
    color: #333;
    background-color: #d5c75f;
	min-height: 200px;
	width: 33.3%;
	text-align: center;
}
.bloque4 {
	padding:10px;
    color: #333;
    background-color: #d5c75f;
	min-height: 200px;
	width: 33.3%;
	text-align: center;
}
.bloque5 {
	padding:10px;
    color: #333;
    background-color: #d5c75f;
	min-height: 200px;
	width: 33.3%;
	text-align: center;
}
.bloque6 {
  padding:10px;
  color: #333;
  background-color: #d5c75f;
  min-height: 200px;
  width: 33.3%;
  text-align: center;
}
.bloque7 {
  padding:10px;
  color: #333;
  background-color: #d5c75f;
  min-height: 200px;
  width: 33.3%;
  text-align: center;
}
.bloque8 {
    background-color: #C6d5c5;
	min-height: 200px;
	width: 25%;
	border-radius: 0px 0px 0px 10px;
	text-align: left;
	text-indent: 1cm;
}
.bloque9 {
    background-color: #C6d5c5;
	min-height: 200px;
	width: 25%;
	text-align: left;
}
.bloque10 {
    background-color: #C6d5c5;
	min-height: 200px;
	width: 25%;
	text-align: left;
}
.bloque11 {
    background-color: #C6d5c5;
	min-height: 200px;
	width: 25%;
	border-radius: 0px 0px 10px 0;
	text-align: left;
}
@keyframes imagen2-animacion { 
0%{
margin-top: 150%;
}
60%{
margin-top: -5%;
}
100%{
margin-top: 0%;
}
}
body{
animation-name: imagen2-animacion;
animation-duration: 1s;
}
/*Break points de cambios debido al tamaño de pantalla*/
@media all and (max-width: 900px) {
	.contenedor{
		width: 100%;
	}
	.bloque1 {
		width: 100%;
		min-height: 65px;
		order:1;	
	}
	.contenedor2{
		width: 100%;
		order:2;
	}
	.bloque2 {
		width: 100%;
		min-height: 250px;
	}
	.bloque3{
		width: 100%;
		min-height: 250px;
	}
	.bloque4 {
		width: 100%;
		min-height: 250px;
	}
	.contenedor3{
		width: 100%;
		min-height: 250px;
		order:3;
	}
	.bloque5{
		width: 100%;
		min-height: 250px;
	}
	.bloque6 {
		width: 100%;
		min-height: 250px;
	}
	.bloque7 {
		width: 100%;
		min-height: 250px;
	}
	.contenedor4{
		width: 100%;
		min-height: 250px;
		order:4;
	}
	.bloque8{
		width: 100%;
		min-height: 50px;
		text-indent: 2cm;
		border-radius: 0px 0px 0px 0px;
	}
	.bloque9 {
		width: 100%;
		min-height: 50px;
		text-indent: 2cm;
	}
	.bloque10 {
		width: 100%;
		min-height: 50px;
		text-indent: 2cm;
	}
	.bloque11 {
		width: 100%;
		min-height: 120px;
		text-indent: 2cm;
		border-radius: 0 0 10px 10px;
	}
@keyframes imagen2-animacion { 
0%{
margin-top: 150%;
}
60%{
margin-top: -5%;
}
100%{
margin-top: 0%;
}
}
body{
animation-name: imagen2-animacion;
animation-duration: 1s;
}
}
footer{
	text-align:center;
}